<main>
    <div class="container my-4 d-flex">

        {{!-- left sidebar --}}
        <div class="col-3">
            <div class="p-3 mb-3 text-white rounded d-flex align-items-center sidebar">
                <i class="fas fa-home"></i>
                <span class="m-0 px-3">|</span>
                <a href="/posts" class="link">Home</a>
            </div>

            <div class="p-3 mb-3 active rounded d-flex align-items-center sidebar">
                <i class="fas fa-user"></i>
                <span class="m-0 px-3">|</span>
                <a href="/users/{{username}}" class="link active">Profile</a>
            </div>

            <div class="p-3 mb-3 text-white rounded d-flex align-items-center sidebar">
                <i class="fas fa-cog"></i>
                <span class="m-0 px-3">|</span>
                <a href="/settings" class="link">Settings</a>
            </div>

            <div class="p-3 mb-3 text-white rounded d-flex align-items-center sidebar">
                <i class="fas fa-sign-out-alt"></i>
                <span class="m-0 px-3">|</span>
                <a href="/logout" class="link">Logout</a>
            </div>
        </div>

        {{!-- main feed --}}
        <div class="col-6 feed-div">

            {{!-- search --}}
            <div class="mb-3">
                <form class="border-0 rounded d-flex" id="search-bar">
                    <input type="text" placeholder="Search" class="px-3 py-2 w-100 text-white border-0"
                        id="search-input">
                    <button type="submit" class="btn text-white border-0" id="search-button">
                        <i class="fas fa-search px-2 py-1" id="search-icon"></i>
                    </button>
                </form>
            </div>

            {{!-- profile --}}
            <div class="feed">
                <div class="mb-3">

                    {{!-- profile pic modal --}}
                    <div class="modal fade" id="new-profilePic-modal" tabindex="-1">
                        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <header class="modal-header text-white">
                                    <h4 class="modal-title d-inline">Choose your avatar!</h4>
                                    <button type="button" class="close text-white" data-dismiss="modal"
                                        aria-label="Close">
                                        <span>&times;</span>
                                    </button>
                                </header>

                                <div class="modal-body text-center text-white">
                                    <img class="ml-3 mb-1 rounded-circle avatarSel"
                                        src="https://img.icons8.com/ios-filled/100/000000/retro-robot.png"
                                        alt="profile picture">
                                    <img class="ml-3 mb-1 rounded-circle avatarSel"
                                        src="https://img.icons8.com/plasticine/2x/cute-pumpkin.png"
                                        alt="profile picture">
                                    <img class="ml-3 mb-1 rounded-circle" id="avatarSel"
                                        src="https://img.icons8.com/plasticine/2x/cute-pumpkin.png"
                                        alt="profile picture">
                                    <img class="ml-3 mb-1 rounded-circle" id="avatarSel"
                                        src="https://img.icons8.com/plasticine/2x/cute-pumpkin.png"
                                        alt="profile picture">
                                    <img class="ml-3 mb-1 rounded-circle" id="avatarSel"
                                        src="https://img.icons8.com/plasticine/2x/cute-pumpkin.png"
                                        alt="profile picture">
                                    <img class="ml-3 mb-1 rounded-circle" id="avatarSel"
                                        src="https://img.icons8.com/plasticine/2x/cute-pumpkin.png"
                                        alt="profile picture">

                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- profile images --}}
                    <div>
                        <img class="w-100 rounded" id="profile-bg"
                            src="https://images.unsplash.com/photo-1572617574118-f5f753cef030?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
                            alt="...">
                        <img class="ml-3 mb-1 rounded-circle" id="profile-img" src="{{avatar}}" alt="profile picture"
                            data-toggle="modal" data-target="#new-profilePic-modal">
                    </div>

                    {{!-- edit profile modal --}}
                    <div class="modal fade" id="user-profile-modal" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <header class="modal-header text-white">
                                    <h4 class="modal-title d-inline">Edit Bio</h4>
                                    <i class="fas fa-user px-3 d-inline align-self-center"></i>
                                    <button type="button" class="close text-white" data-dismiss="modal"
                                        aria-label="Close">
                                        <span>&times;</span>
                                    </button>
                                </header>

                                <div class="modal-body text-white">
                                    <form class="mb-3 bio-update" id="bio-update-form">
                                        <div class="form-group">
                                            <label for="bio-input">Bio</label>
                                            <textarea type="text" rows="4" class="border-0 form-control"
                                                id="bio-input">{{bio}}</textarea>
                                        </div>

                                        <hr class="border-light mt-4">

                                        <div class="form-group">
                                            <label for="bio-input">Facebook</label>
                                            <input type="text" class="border-0 form-control"
                                                id="facebook-input">{{facebook}}</input>
                                        </div>

                                        <div class="form-group">
                                            <label for="bio-input">Twitter</label>
                                            <input type="text" class="border-0 form-control"
                                                id="twitter-input">{{twitter}}</input>
                                        </div>
                                    </form>
                                </div>

                                <footer class="modal-footer">
                                    <button type="submit" class="btn btn-primary float-right"
                                        id="profile-update">Save</button>
                                </footer>
                            </div>
                        </div>
                    </div>

                    {{!-- user bio --}}
                    <div class="card mb-3 p-3 profile-bio">
                        <h4 class="profile-name"><b>{{displayName}}</b></h4>
                        <h5 class="profile-username">@{{username}}</h5>
                        <hr class="border-light">

                        {{!-- options: --}}
                        {{!-- 1. you're looking at your own profile - you have a bio or you don't --}}
                        {{#if isUser}}
                        {{!-- if bio exists, display --}}
                        {{#if bio}}
                        <i class="fas fa-bullhorn d-inline mb-3"></i>
                        <h6 class="d-inline my-3">{{bio}}</h6>
                        {{/if}}
                        <button type="button" class="btn btn-outline-info btn-sm mt-3 mb-2" id="profile-button"
                            data-toggle="modal" data-target="#user-profile-modal">Edit profile</button>

                        {{!-- 2. you're looking at someone else's profile - they have a bio or don't --}}
                        {{else}}
                        {{#if bio}}
                        <i class="fas fa-bullhorn d-inline mb-3"></i>
                        <h6 class="d-inline my-3">{{bio}}</h6>
                        {{/if}}
                        {{/if}}
                    </div>

                    {{!-- social links --}}
                    <div class="m-4">
                        {{#if facebook}}
                        <a href="{{facebook}}" class="fb-ic mr-3" role="button"><i
                                class="fab fa-lg fa-facebook-f profile-social"></i></a>
                        {{/if}}
                        {{#if twitter}}
                        <a href="{{twitter}}" class="tw-ic mr-3" role="button"><i
                                class="fab fa-lg fa-twitter profile-social"></i></a>
                        {{/if}}
                        <a href="" class="li-ic mr-3" role="button"><i
                                class="fab fa-lg fa-linkedin-in profile-social"></i></a>
                        <a href="" class="ins-ic mr-3" role="button"><i
                                class="fab fa-lg fa-instagram profile-social"></i></a>
                        <a href="" class="yt-ic mr-3" role="button"><i
                                class="fab fa-lg fa-youtube profile-social"></i></a>
                        <a href="" class="git-ic mr-3" role="button"><i
                                class="fab fa-lg fa-github profile-social"></i></a>
                        <a href="" class="email-ic mr-3" role="button"><i
                                class="far fa-lg fa-envelope profile-social"></i></a>
                    </div>
                </div>

                {{!-- user posts --}}
                <div>
                    {{#each posts}}
                    {{> posts/new-post}}
                    {{else}}
                    <div class="card mb-3 text-center text-white">
                        <p class="p-4 m-0">No posts...</p>
                    </div>
                    {{/each}}
                </div>

                {{!-- new post modal --}}
                <div class="modal fade" id="new-post-modal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <header class="modal-header text-white">
                                <h4 class="modal-title d-inline">New Post</h4>
                                <i class="far fa-edit fa-lg px-3 d-inline align-self-center"></i>
                                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                    <span>&times;</span>
                                </button>
                            </header>

                            <div class="modal-body text-white">
                                <form>
                                    <label for="post-body">Body</label>
                                    <textarea name="post-body" cols="30" rows="3"
                                        class="p-2 mb-3 w-100 border-0 rounded" id="post-body"></textarea>
                                </form>
                            </div>

                            <footer class="modal-footer">
                                <button type="submit" class="btn btn-primary float-right"
                                    id="submit-post">Submit</button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Right Sidebar --}}
        <div class="col-3">
            <div class="p-3 mb-3 text-white rounded d-flex align-items-center justify-content-end sidebar">
                <a href="" class="link">All Users</a>
                <span class="m-0 px-3">|</span>
                <i class="fas fa-users"></i>
            </div>

            <div class="p-3 mb-3 text-white rounded d-flex align-items-center justify-content-end sidebar">
                <a href="/all-post" class="link">All Posts</a>
                <span class="m-0 px-3">|</span>
                <i class="fas fa-address-card"></i>
            </div>

            {{#if isUser}}
            <div class="p-3 mb-3 text-white rounded d-flex align-items-center justify-content-end sidebar">
                <button type="button" class="btn p-0 text-white" id="new-post" data-toggle="modal"
                    data-target="#new-post-modal">New Post</button>
                <span class="m-0 px-3">|</span>
                <i class="fas fa-plus"></i>
            </div>
            {{/if}}
        </div>

    </div>
</main>