<div class="card p-4 mb-3 border-0 rounded">
    <div class="d-flex justify-content-between">
        <div class="pb-2 d-flex align-items-center">
            <div class="pr-3">
                <img class="profile-pic rounded-circle" src="./images/avatars/pack1/{{User.dataValues.avatar}}">
            </div>

            <div>
                <h4 class="mb-1"><b>{{title}}</b></h4>
                <span class="mb-1 d-inline-block">@<a href="" class="mb-1 link">{{username}}</a></span>
                <p class="m-0">{{createdAt}}</p>
            </div>
        </div>
    </div>

    <hr class="mt-2 mb-3 border-white">

    <p class="m-0">{{body}}</p>
</div>